:root {
  --beige: #F9FAEF;
  --yellow: #FDFA9B;
  --green: #cee397;
  --lblue:  #8bcdcd;
  --dblue: #3797a4;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--beige);
  font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5,p,a{
  padding: 25px;
}

h1,h2,h3,h4{
  text-align: center;
}

h1{
  font-size: 50px;
  font-weight: bold;
}

h2{
  font-size: 40px;
}
a,p {
  font-size: 18px
}
